<launch>

	<arg name="n_s"/>
        <!-- **************************** tf for Gmapping **************************** -->

	 <node pkg="tf" type="static_transform_publisher" name="laserscan_tf" args="0.2 0 0.35 0 0 0 /$(arg n_s)/base_link /$(arg n_s)/base_scan 33" />


	<!-- **************************** cmd_vel_mux ****************************-->


        <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>
        <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet nodelet_manager">
	    <remap from="/cmd_vel_mux/output/cmd_vel"           to="/$(arg n_s)/cmd_vel" />
		
            <param name="yaml_cfg_file" value="$(find pioneer3at)/config/cmd_vel_mux_all.yaml"/>
	    <remap from="/rqt/cmd_vel"           to="/$(arg n_s)/rqt/cmd_vel" />
	    <remap from="/ps3joy/cmd_vel"           to="/$(arg n_s)/ps3joy/cmd_vel" />
	    <remap from="/move_base/cmd_vel"           to="/$(arg n_s)/move_base/cmd_vel" />
	    <remap from="/cmd_vel" to="/$(arg n_s)/cmd_vel" />

	</node>

	<!-- **************************** gmapping ****************************-->

        <node pkg="gmapping" type="slam_gmapping" name="gmapping">

            <rosparam file="$(find pioneer3at)/config/gmapping/gmapping_stage.yaml" command="load" />
	    <param name="base_frame" type="str" value="/$(arg n_s)/base_link" />
	    <param name="map_frame" type="str" value="/$(arg n_s)/map" />
	    <param name="odom_frame" type="str" value="/$(arg n_s)/odom" />
	    <param name="occ_map_frame" type="str" value="/$(arg n_s)/occ_map" />

	    <remap from="scan"          to="/$(arg n_s)/base_scan"/>
	</node>

	<!-- **************************** move_base ****************************-->

        <node pkg="move_base" type="move_base" name="move_base" output="screen">

            <rosparam file="$(find pioneer3at)/config/move_base/move_base_multi.yaml" command="load"/>
            <rosparam file="$(find pioneer3at)/config/move_base/costmap_common_multi.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find pioneer3at)/config/move_base/costmap_common_multi.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find pioneer3at)/config/move_base/costmap_global_multi.yaml" command="load"  />
            <rosparam file="$(find pioneer3at)/config/move_base/costmap_local_multi.yaml" command="load"/>

	    <param name="move_base/global_frame_id" type="str" value="/$(arg n_s)/map" />
	    <param name="global_costmap/global_frame" type="str" value="$(arg n_s)/map" />
	    <param name="local_costmap/global_frame" type="str" value="$(arg n_s)/map" />
	    <param name="global_costmap/map_topic" type="str" value="$(arg n_s)/map" />
	    <param name="local_costmap/map_topic" type="str" value="$(arg n_s)/map" />
	    <param name="global_costmap/robot_base_frame" type="str" value="$(arg n_s)/base_link" />
	    <param name="global_costmap/laserscan/topic" type="str" value="$(arg n_s)/base_scan" />
	    <param name="global_costmap/laserscan/sensor_frame" type="str" value="$(arg n_s)/base_scan" />
	    <param name="local_costmap/robot_base_frame" type="str" value="$(arg n_s)/base_link" />
	    <param name="local_costmap/laserscan/topic" type="str" value="$(arg n_s)/base_scan" />
	    <param name="local_costmap/laserscan/sensor_frame" type="str" value="$(arg n_s)/base_scan" />
		<param name="controller_frequency" value="10.0" />

	    <remap from="cmd_vel"               to="/$(arg n_s)/move_base/cmd_vel"  />
	    <remap from="move_base/cancel"      to="/$(arg n_s)/move_base/cancel"   />
	    <remap from="move_base/feedback"    to="/$(arg n_s)/move_base/feedback" />
	    <remap from="move_base/goal"        to="/$(arg n_s)/move_base/goal" />
	    <remap from="move_base/result"      to="/$(arg n_s)/move_base/result" />
	    <remap from="move_base/status"      to="/$(arg n_s)/move_base/status" />
	    <remap from="move_base_simple/goal" to="/$(arg n_s)/move_base_simple/goal" />

	</node>

        <!-- **************************** rviz **************************** -->

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find pioneer3at)/config/rviz/$(arg n_s).rviz"/>


	<!-- **************************** Explorer ****************************-->

        <node pkg="pioneer3at" type="explorer" name="Explorer" required="true">
	    <param name="robot_topic" type="str" value="/$(arg n_s)" />
	    <param name="goal_topic" type="str" value="/$(arg n_s)/move_base_simple/goal" />
		<!-- <param name="goal_topic" type="str" value="/$(arg n_s)/move_base/goal" /> -->
	    <param name="occ_map_topic" type="str" value="/$(arg n_s)/occ_map" />
	    <param name="map_topic" type="str" value="/$(arg n_s)/map" />
	    <param name="pose_topic" type="str" value="/$(arg n_s)/odom" />
	    <param name="cmd_vel_topic" type="str" value="/$(arg n_s)/cmd_vel" />
	    <param name="laser_topic" type="str" value="/$(arg n_s)/base_scan" />
	    <param name="base_link_topic" type="str" value="/$(arg n_s)/base_link" />
	    <param name="goal_status_topic" type="str" value="/$(arg n_s)/move_base/status" />
		<rosparam file="$(find pioneer3at)/config/explorer/test.yaml" command="load" />
	</node>

</launch>

