<launch>

    <arg name="n1"/>
    <arg name="n2"/>

    <arg name="n_s" default="/robot_0" />

    <node pkg="stage_ros" type="stageros" name="stage" output="screen" args="$(find pioneer3at)/world/pioneer3at_1.world" if="$(arg n1)"/>
    <node pkg="stage_ros" type="stageros" name="stage" output="screen" args="$(find pioneer3at)/world/pioneer3at_2.world" if="$(arg n2)"/>


    <group ns="robot_0">
	<include file="$(find pioneer3at)/launch/stage_launch/robot.launch">
	    <arg name="n_s" value="/robot_0" />
	</include>
    </group>
    <group ns="robot_1">
	<include file="$(find pioneer3at)/launch/stage_launch/robot.launch">
	    <arg name="n_s" value="/robot_1" />
	</include>
    </group>

</launch>
