<launch>
     <param name="robot_description" command="$(find xacro)/xacro.py $(find pioneer3at)/urdf/pioneer3at.xacro" />

     <node pkg="robot_state_publisher" type="state_publisher" name="Pioneer3AT_tf_broadcaster">
          <!-- <param name="tf_prefix" type="string" value="Pioneer3AT"/> -->
          <param name="tf_prefix" type="string" value=""/>
          <param name="publish_frequency" type="double" value="20.0"/>

          <!--<remap from="robot_description" to="/Pioneer3AT/urdf" />-->
          <remap from="joint_states" to="Pioneer3AT/joint_states"/>

     </node>


     <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>
     <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet nodelet_manager">
          <remap from="/cmd_vel_mux/output/cmd_vel"           to="/Pioneer3AT/cmd_vel" />

          <param name="yaml_cfg_file" value="$(find pioneer3at)/config/cmd_vel_mux.yaml"/>
     </node>

     <node pkg="gmapping" type="slam_gmapping" name="Pioneer3AT_gmapping" output="screen">
          <rosparam file="$(find pioneer3at)/config/gmapping/gmapping.yaml" command="load" />
          <param name="occ_map_frame_" type="str" value="occ_map" />
          <remap from="scan"          to="/Pioneer3AT/laserscan"/>
          <remap from="map"           to="/Pioneer3AT/map"/>
          <remap from="map_metadata"  to="/Pioneer3AT/map_metadata"/>
          <remap from="occ_map"       to="/Pioneer3AT/occ_map" />
     </node>


     <node pkg="move_base" type="move_base" name="Pioneer3AT_move_base">
          <rosparam file="$(find pioneer3at)/config/move_base/move_base.yaml" command="load"/>
          <rosparam file="$(find pioneer3at)/config/move_base/costmap_common.yaml" command="load" ns="global_costmap" />
          <rosparam file="$(find pioneer3at)/config/move_base/costmap_common.yaml" command="load" ns="local_costmap" />
          <rosparam file="$(find pioneer3at)/config/move_base/costmap_global.yaml" command="load"  />
          <rosparam file="$(find pioneer3at)/config/move_base/costmap_local.yaml" command="load"/>

          <remap from="cmd_vel"               to="/Pioneer3AT/move_base/cmd_vel"  />
          <remap from="move_base/cancel"      to="/Pioneer3AT/move_base/cancel"   />
          <remap from="move_base/feedback"    to="/Pioneer3AT/move_base/feedback" />
          <remap from="move_base/goal"        to="/Pioneer3AT/move_base/goal" />
          <remap from="move_base/result"      to="/Pioneer3AT/move_base/result" />
          <remap from="move_base/status"      to="/Pioneer3AT/move_base/status" />
          <remap from="move_base_simple/goal" to="/Pioneer3AT/move_base_simple/goal" />

     </node>

     <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="Pioneer3AT_rqt_teleop">
          <param name="default_topic" type="str" value="/Pioneer3AT/rqt/cmd_vel" />
          <param name="default_vx_max" type="double" value="0.8" />
          <param name="default_vx_min" type="double" value="-0.8" />
          <param name="default_vw_max" type="double" value="1.5" />
          <param name="default_vw_min" type="double" value="-1.5" />
     </node>

     <node pkg="rviz" type="rviz" name="Pioneer3AT_rviz" args="-d $(find pioneer3at)/config/rviz/settings.rviz"/>
</launch>
